
<!-- the logo code will go here -->
		
			<!-- org name field/ Perhaps this can already be filled in? -->
			<div class="form-group row">
				<label class="control-label col-md-1" for="usr" >Name</label>
				<div class = "col-md-8">
				<input type="text" class="form-control" placeholder="Neighborhood Allies" name="name" value="<%= @organization.name %>">
				</div>
			</div>
			
			<!-- description stuff-->
			<div class="form-group row">
				<label class="control-label col-md-1" for="descrip" >Description</label>
				<div class = "col-md-8">
				<textarea class="form-control" placeholder="This is a great non-profit doing work in..." name="descrip"><%= @organization.descrip %></textarea>
				</div>
			</div>
			
			<!-- email -->
			<div class="form-group row">
				<label class="control-label col-md-1" for="email">Email</label>
				<div class = "col-md-8">
					<input type="email" class="form-control" placeholder="organization@email.com" name="email" value="<%= @organization.email %>">
				</div>
			</div>				
			
			<!-- phone number - don't forget to add the dashes and figure out how
				line up the beginning-->
			<div class="form-group row">	
				<label class="control-label col-md-1" style="padding-right: 0px" for="phone">Phone</label>
				<div class="col-md-4">
				
						<input type="tel" name="phone" class="form-control" value="<%= @organization.phone %>" size="12" maxlength="12" required="required" title="" placeholder="555-555-5555">

				</div>
			</div>
			
			<!-- address stuff-->
			<div class="form-group row">
				<label class="control-label col-md-1" for="address" >Address</label>
				<div class = "col-md-8">
				<textarea class="form-control" placeholder="555 Liberty Ave" name="address"><%= @organization.address %></textarea>
				</div>
			</div>


  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

