<div class="col-xs-12 admin-body">
<div class="container col-md-2 columns"></div>
<div class="container col-md-8" style="background-color: white">
<ul class="list-unstyled">
  	<% @organizations.each do |organization| %>
	<li>
		<div class="list-group-item clearfix">
		<div class="pull-left">
		  <img src="/logos/<%= organization.id %>/serve" class="admin-logo">		
		</div>
		<div>
			<h3 class="list-group-item-heading title"><%= organization.name %></h3>
			<p class="list-group-item-text"><%= organization.descrip %></p>
		</div>
		<span class="pull-right">
			<%= link_to 'View',organization_path(organization), class: 'btn btn-info' %>
			<%= link_to 'Edit', edit_orgadmin_path(organization), class:"btn btn-warning" %>
			<button class= "btn btn-success">Connections</button>
			<!--<%= link_to 'Connections',organization_path(organization), class: 'btn btn-success' %> -->
			<%= link_to 'Suspend', "#", class:"btn btn-danger" %>
		</span>
		</div>
	</li>
	<% end %>
 </ul>
</div>
</div>