#app/views/logos/new.html.erb

<%= form_for(@logo, :html => {:multipart => true}) do |f| %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :data %>
        <%= f.file_field :data %>
    </div>
    <%= f.collection_select :organization_id, @orgs, :id, :name, include_blank: true %>
    <div class="actions">
        <%= f.submit "Upload" %>
    </div>
<% end %>